@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-dark: 0 3px 10px rgb(0, 0, 0, 0.2);
  --shadow-light: 0 6px 10px rgb(0, 0, 0, 0.1);
}

@layer utilities {
  .animate-shimmer {
    background: linear-gradient(
      90deg,
      rgb(230, 230, 230) 5%,
      rgb(204, 204, 204) 25%,
      rgb(230, 230, 230) 35%
    );
    background-size: 1000px 100%;
    background-repeat: repeat;
    animation: shimmer 3s ease infinite;
  }

  @keyframes shimmer {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-position-x: 1000px;
    }
  }
}

.shimmer-wrapper {
  @apply flex justify-center items-center dark:bg-black min-h-screen;
}

.shimmer-container {
  @apply flex flex-wrap justify-center gap-10 py-4;
}

.shimmer-card {
  @apply w-60 h-68 bg-white shadow-light p-3 transition-all duration-300;
}

.shimmer-img {
  @apply h-36 w-full bg-[#ddd] mb-4 rounded-sm;
}

.shimmer-line {
  @apply h-4 bg-[#ddd] mb-3 w-[60%];
}

.shimmer-line-short {
  @apply h-4 bg-[#ddd] w-[80%];
}

.shimmer-tags {
  @apply mt-3 flex gap-4;
}

.shimmer-tag {
  @apply h-4 bg-[#ddd] w-[30%] mt-3;
}

.item-card {
  @apply flex justify-between items-center gap-5 bg-white shadow-light mt-10 p-6;
}

.item-text-block {
  @apply flex flex-col space-y-5;
}

.item-line {
  @apply h-4 bg-[#adadad] ml-5;
}

.item-line-sm {
  @apply w-28 h-4 bg-[#adadad] ml-5;
}

.item-line-md {
  @apply w-56 h-4 bg-[#adadad] ml-5;
}

.item-line-lg {
  @apply w-64 h-4 bg-[#adadad] ml-5;
}

.item-image {
  @apply h-[105px] w-[105px] bg-gray-200 border border-[#adadad] rounded-md;
}
